<div id="frmWork" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header header-content">
				<h6 class="modal-title title-modal">{{accion}} CURACIÓN</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
			</div>
			<div class="modal-body form-controls">
				<div class="container">
					<!-- <div class="row"> -->
							<div class="form-group row">
								<label for="formGroupExampleInput" class="col-2 col-form-label">ID</label>
								<div class="col-10">
									<input type="text" class="form-control" id="txtId" ng-model="work.ID" name="txtId" disabled="true">
								</div>
							</div>
							<div class="form-group row">
								<label for="formGroupExampleInput" class="col-2 col-form-label">Nombre</label>
								<div class="col-10">
									<input type="text" class="form-control" id="txtNomApe" ng-model="work.name" name="txtNomApe">
								</div>
							</div>
							<div class="form-group row">
								<label for="formGroupExampleInput" class="col-2 col-form-label">Costo</label>
								<div class="col-10">
									<input type="text" min="0" class="form-control" ng-model="work.price" id="txtAge" name="txtAge">
								</div>
							</div>
					<!-- </div> -->
				</div>
			</div>
			<div class="modal-footer footer-content">
				<a type="button" class="btn btn-success btn-block btn-crud" ng-click="execute()" data-dismiss="modal"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> GUARDAR</a>
				<!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
			</div>
		</div>
	</div>
</div>