/* tr:hover {
	background-color: #51a0c7;
} */

select {
	width: 100%;
}

.card-panel {
	width: 320pt;
	float: none;
}

.login-field {
	width: 100%;
}

.content {
	padding-top: 120pt;
}

.content-body {
	background-color: #c7f7e0;
}

#btnIngresar {
	font-weight: bold;
}

.form-content {
	padding-top: 20pt;
}

.listado {
	font-size: 10pt;
}

.btn-crud,
.row-crud {
	cursor: pointer;
	font-weight: bold;
}

.btn-new {
	float: right;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.header-content {
	background-color: #696969;
	color: white;
	font-weight: bold;
}

.header-delete{
	background-color: #cd5c5c;
	color: white;
	font-weight: bold;
}
.header-form{
	background-color: #496f9a;
	color: white;
	font-weight: bold;
}

.footer-content {
	/* border-top-color: #696969; */
}

.title-modal {
	font-weight: bold;
	font-size: 14pt;
}

.form-controls {
	font-size: 8pt;
}

.generic-form {
	font-size: 10pt;
}

a:not([href]):not([tabindex]) {
	color: white;
	text-decoration: none;
}

.z-depth-3 {
	-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
