.card-panel {
	width: 320pt;
	float: none;
}

.login-field {
	width: 100%;
}

.content {
	padding-top: 120pt;
}

#btnIngresar {
	font-weight: bold;
}

.form-content {
	padding-top: 20pt;
}

.listado {
	font-size: 10pt;
}

.btn-crud {
	height: 25pt;
}

.btn-new {
	float: right;
	font-weight: bold;
	color: white;
}

a:not([href]):not([tabindex]) {
	color: white;
	text-decoration: none;
}

.row{
	/* text-align: center; */
}