.data-table {
    padding-top: 5px;
}

.cell-content {
    text-align: center;
}

.header-table-small,
.header-enf {
    width: 50pt;
}

.header-date {
    width: 80pt;
}

.header-action {
    width: 100pt;
}

.panel{
    text-align: right;
}

.clumn-hight{
    width: 250pt;
}