<!DOCTYPE html>
<html lang="es" ng-app="patient">

	<head>
		<meta charset="UTF-8">
		<title>Pacientes</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/forms.css">
	</head>

	<body>
		<menu-bar></menu-bar>
		<!-- <list-patients></list-patients> -->

		<div class="container form-content">
			<div class="row">
				<div class="col" ng-controller="PatientController as pctrl">
					<form>
						<div class="card z-depth-3">
							<div class="card-header header-content" style="font-size: 14pt; text-align: center;">
								PACIENTES
								<a class="btn btn-primary btn-new" data-toggle="modal" data-target="#frmPatient" ng-click="newPatient()"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO</a>
							</div>
							<div class="card-block content-body">
								<table class="table table-striped table-hover">
									<thead class="thead-inverse">
										<tr>
											<th class="listado" ng-show="true">ID</th>
											<th class="listado" ng-show="true">Fecha</th>
											<th class="listado" ng-show="true">Nom. Apellidos</th>
											<th class="listado" ng-show="true">Edad</th>
											<th class="listado" ng-show="true">Sexo</th>
											<th class="listado" ng-show="true">Fec. Nac.</th>
											<th class="listado" ng-show="false">Dir.</th>
											<th class="listado" ng-show="false">Ocupación</th>
											<th class="listado" ng-show="true">Tel/Cel</th>
											<th class="listado" ng-show="false">Alergias</th>
											<th class="listado" ng-show="false">Operaciones</th>
											<th class="listado" ng-show="true" style="text-align: center;">Diabettes</th>
											<th class="listado" ng-show="true" style="text-align: center;">Hiper.</th>
											<th class="listado" ng-show="false">Otros</th>
											<th class="listado" ng-show="false">Trat. Medic.</th>
											<th ng-show="true"></th>
										</tr>
									</thead>
									<tbody ng-repeat="p in patients" ng-if="p.state" style="font-size: 10pt;">
										<tr style="background-color: #46eea3">
											<td ng-show="true">{{p.ID}}</td>
											<td ng-show="true">{{p.dateInit | date:"dd/MM/yyyy"}}</td>
											<td ng-show="true">{{p.nomApe}}</td>
											<td ng-show="true">{{p.age}}</td>
											<td ng-show="true" style="text-align: center;">{{p.sex}}</td>
											<td ng-show="true">{{p.dateNac | date:'dd/MM/yyyy'}}</td>
											<td ng-show="false">{{p.address}}</td>
											<td ng-show="false">{{p.ocupation}}</td>
											<td ng-show="true">{{p.telCel}}</td>
											<td ng-show="false">{{p.alergies}}</td>
											<td ng-show="false">{{p.operations}}</td>
											<td ng-show="p.diabettes" ng-if="p.diabettes" style="text-align: center;">
												<i class="fa fa-check" aria-hidden="true"></i>
											</td>
											<td ng-show="!p.diabettes" ng-if="!p.diabettes" style="text-align: center;">
												<i class="fa fa-times" aria-hidden="true"></i>
											</td>
											<td ng-show="p.hipertension" ng-if="p.hipertension" style="text-align: center;">
												<i class="fa fa-check" aria-hidden="true"></i>
											</td>
											<td ng-show="!p.hipertension" ng-if="!p.hipertension" style="text-align: center;">
												<i class="fa fa-times" aria-hidden="true"></i>
											</td>
											<td ng-show="false">{{p.others}}</td>
											<td ng-show="false">{{p.treatMedics}}</td>
											<td ng-show="true" style="text-align: center;">
												<!-- <a class="btn btn-info btn-crud" text="Más información."><i class="fa fa-info" aria-hidden="true"></i></a> -->
												<a class="btn btn-warning btn-crud" data-toggle="modal" data-target="#frmPatient" ng-click="modifyPatient(p)" title="Modificar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
												<a class="btn btn-danger btn-crud" title="Eliminar"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
											</td>
										</tr>
									</tbody>
									<tbody ng-repeat="p in patients" ng-if="!p.state" style="font-size: 10pt;">
										<tr style="background-color: #e56969;">
											<td ng-show="true">{{p.ID}}</td>
											<td ng-show="true">{{p.dateInit | date:"dd/MM/yyyy"}}</td>
											<td ng-show="true">{{p.nomApe}}</td>
											<td ng-show="true">{{p.age}}</td>
											<td ng-show="true" style="text-align: center;">{{p.sex}}</td>
											<td ng-show="true">{{p.dateNac | date:'dd/MM/yyyy'}}</td>
											<td ng-show="false">{{p.address}}</td>
											<td ng-show="false">{{p.ocupation}}</td>
											<td ng-show="true">{{p.telCel}}</td>
											<td ng-show="false">{{p.alergies}}</td>
											<td ng-show="false">{{p.operations}}</td>
											<td ng-show="p.diabettes" ng-if="p.diabettes" style="text-align: center;">
												<i class="fa fa-check" aria-hidden="true"></i>
											</td>
											<td ng-show="!p.diabettes" ng-if="!p.diabettes" style="text-align: center;">
												<i class="fa fa-times" aria-hidden="true"></i>
											</td>
											<td ng-show="p.hipertension" ng-if="p.hipertension" style="text-align: center;">
												<i class="fa fa-check" aria-hidden="true"></i>
											</td>
											<td ng-show="!p.hipertension" ng-if="!p.hipertension" style="text-align: center;">
												<i class="fa fa-times" aria-hidden="true"></i>
											</td>
											<td ng-show="false">{{p.others}}</td>
											<td ng-show="false">{{p.treatMedics}}</td>
											<td ng-show="true" style="text-align: center;">
												<!-- <a class="btn btn-info btn-crud" text="Más información."><i class="fa fa-info" aria-hidden="true"></i></a> -->
												<a class="btn btn-warning btn-crud" data-toggle="modal" data-target="#frmPatient" ng-click="modifyPatient(p)" title="Modificar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
												<a class="btn btn-danger btn-crud" title="Eliminar"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</form>

					<form-patient></form-patient>

				</div>
			</div>
		</div>

		<script src="js/lib/moment.min.js"></script>
		<script src="js/lib/moment-with-locales.min.js"></script>
		<script src="js/lib/jquery-3.2.1.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/angular.min.js"></script>
		<script src="js/controller/patient.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/odontosoft.js"></script>
	</body>

</html>