<!DOCTYPE html>
<html lang="en" ng-app="treatment">

	<head>
		<meta charset="UTF-8">
		<title>Tratamiento</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/select-browser.css">
		<link rel="stylesheet" href="css/forms.css">
	</head>

	<body class="content-body">
		<menu-bar></menu-bar>

		<div class="container form-content">
			<div class="row">
				<div class="col" ng-controller="TreatmentController as tctrl">
					<form>
						<div class="card z-depth-3">
							<div class="card-header header-content" style="font-size: 14pt; text-align: center;">
								TRATAMIENTOS
							</div>
							<div class="card-block">
								<!-- <div class="form-group row">
									<label for="formGroupExampleInput" class="col-2 col-form-label">Tratamiento</label>
									<div class="col-5">
										<select select-browser class="form-control" style="width: 100%" name="cbWork" id="cbWork" ng-options="w as w.name for w in works track by w.ID"
										 ng-model="work">
                                <option value="">Select</option>
                            </select>
									</div>
								</div> -->
								<div class="row">
									<div class="col-sm-6">
										<h4 style="text-align: center;" class="card-title">
											Tratamientos
											<a class="btn btn-sm btn-primary btn-new" data-toggle="modal" data-target="#frmTreatment" ng-click="newTreatment()"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO</a>
										</h4>
										<table class="table table-striped table-hover table-sm">
											<thead class="thead-inverse">
												<tr>
													<th>ID</th>
													<th>Paciente</th>
													<th></th>
												</tr>
											</thead>
											<tbody ng-repeat="t in treatments">
												<tr ng-style="t.state">
													<td>{{t.ID}}</td>
													<td  class="row-crud" ng-click="selectTreatmentRow(t)">{{t.patient.nomApe}}</td>
													<td style="text-align: center;">
														<a class="btn btn-sm btn-warning btn-crud" data-toggle="modal" data-target="#frmTreatment" ng-click="modifyTreatment(t)" title="Modificar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
														<!-- <a class="btn btn-sm btn-danger btn-crud" title="Eliminar"><i class="fa fa-trash-o" aria-hidden="true"></i></a> -->
														<!-- <a class="btn btn-sm btn-danger btn-crud" title="Eliminar"><i class="fa fa-trash-o" aria-hidden="true"></i></a> -->
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-sm-6">
										<h4 style="text-align: center;" class="card-title">
											Curaciones
											<button class="btn btn-primary btn-sm btn-new" style="float: right;" data-toggle="modal" data-target="#frmCuracion" ng-disabled="btnState" ng-click="addTD()"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
										</h4>
										<table class="table table-striped table-hover table-sm">
											<thead class="thead-inverse">
												<tr>
													<th>ID</th>
													<th>Curación</th>
													<th>Cantidad</th>
													<th>Precio</th>
													<th>Subtotal</th>
													<th></th>
												</tr>
											</thead>
											<tbody ng-repeat="d in treatmentsDetail">
												<tr>
													<td>{{d.ID}}</td>
													<td>{{d.works.name}}</td>
													<td>{{d.quantity}}</td>
													<td>{{d.works.price}}</td>
													<td>{{d.quantity * d.works.price}}</td>
													<td>
														<a class="btn btn-sm btn-warning btn-crud" data-toggle="modal" data-target="#frmWork" ng-click="" title="Modificar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
														<a class="btn btn-sm btn-danger btn-crud" title="Eliminar" data-toggle="modal" data-target="#frmComfirmDeleteCuracion"><i class="fa fa-trash-o" aria-hidden="true" ng-click="beforeDelete(d)"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

							</div>
						</div>
					</form>

					<form-treatment></form-treatment>
					<form-curacion></form-curacion>
					<form-comfirm-delete-curacion></form-comfirm-delete-curacion>

				</div>
			</div>
		</div>

		<script src="js/lib/moment.min.js"></script>
		<script src="js/lib/moment-with-locales.min.js"></script>
		<script src="js/lib/jquery-3.2.1.min.js"></script>
		<script src="js/lib/jquery-ui.min.js"></script>
		<script src="js/lib/angular.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/select-browser.js"></script>
		<script src="js/controller/treatment.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/odontosoft.js"></script>
	</body>

</html>