<div id="frmComfirmDeleteCuracion" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header header-delete">
				<h6 class="modal-title title-modal">ELIMINAR CURACION</h6>
				<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModalForm()">
					<span aria-hidden="true">&times;</span>
				</button> -->
			</div>
			<div class="modal-body form-controls">
				<div class="container">
					<h5>¿Está seguro de eliminar la curación "{{work.works.name}}" enlazado al paciente: {{patientSelected.nomApe}}?</h5>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal">
					<i class="fa fa-check fa-fw" aria-hidden="true"></i>SI</button>
				<button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal" ng-click="resetWork()">
					<i class="fa fa-times fa-fw" aria-hidden="true"></i>NO</button>
			</div>
		</div>
	</div>
</div>

<script>
	$('#frmComfirmDeleteCuracion').modal({
		backdrop: 'static',
		show: false,
		keyboard: false
	});
</script>