<div id="frmComfirmDeleteCuracion" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header header-content">
				<h6 class="modal-title title-modal">ELIMINAR CURACION</h6>
				<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModalForm()">
					<span aria-hidden="true">&times;</span>
				</button> -->
			</div>
			<div class="modal-body form-controls">
				<div class="container">
					<h5>¿Está seguro de eliminar la curación "" que estárelacionado al paciente: ?</h5>
				</div>
			</div>
			<div class="modal-footer footer-content">
				<a type="button" class="btn btn-success" ng-click="" data-dismiss="modal">
					<i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> SI</a>
				<a type="button" class="btn btn-success" ng-click="" data-dismiss="modal">
					<i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> NO</a>
			</div>
		</div>
	</div>
</div>

<script>
	$('#frmTreatment').modal({
		backdrop: 'static',
		show: false,
		keyboard: false
	});
</script>