<div id="frmTreatment" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header header-form">
				<h6 class="modal-title title-modal">{{accion}} TRATAMIENTO</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModalForm()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body form-controls">
				<div class="container">
					<div class="form-group row">
						<label for="formGroupExampleInput" class="col-2 col-form-label">ID</label>
						<div class="col-10">
							<input type="text" class="form-control" id="txtId" ng-model="treatment.ID" name="txtId" disabled="true">
						</div>
					</div>
					<div class="form-group row">
						<label for="formGroupExampleInput" class="col-2 col-form-label">Paciente</label>
						<div class="col-10">
							<select select-browser class="form-control" style="width: 100%" name="" id="" ng-options="p as p.nomApe for p in patients track by p.ID"
							    ng-model="treatment.patientId">
								<option value="treatment.patientId">{{treatment.patientId.nomApe}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer footer-content">
				<a type="button" class="btn btn-success btn-block btn-crud" ng-click="execute()" data-dismiss="modal">
					<i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> GUARDAR</a>
			</div>
		</div>
	</div>
</div>

<script>
	$('#frmTreatment').modal({
		backdrop: 'static',
		show: false,
		keyboard: false
	});
</script>