<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>LOGIN</title>
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row content">
                <div class="col-sm-4"></div>
                <div class="col-sm-6" ng-controller="LoginController">
                    <form action="">
                        <div class="card card-panel">
                            <div class="card-header" style="font-size: 14pt; text-align: center;">
                                <b>INICIE SESION</b>
                            </div>
                            <div class="card-block">
                                <div class="form-inline">
                                    <a href="#"><i class="fa fa-user fa-fw"></i></a>
                                    <input type="text" placeholder="Username" class="form-control" style="width: 90%">
                                </div>
                                <br>
                                <div class="form-inline">
                                    <a href="#"><i class="fa fa-unlock-alt fa-fw"></i></a>
                                    <input type="password" placeholder="Password" class="form-control" style="width: 90%">
                                </div>
                                <br>
                                <a href="#" class="btn btn-success btn-block"><i class="fa fa-sign-in fa-fw"></i> INGRESAR</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="libs/assets/js/jquery-3.2.1.min.js"></script>
        <script src="libs/assets/js/bootstrap.min.js"></script>
    </body>

</html>