<div id="frmControl" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header header-form">
                <h6 class="modal-title title-modal">{{accion}} CONTROL</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body generic-form">
                <div class="container">
                    <!-- <div class="row"> -->
                    <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">ID</label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="txtId" ng-model="work.ID" name="txtId" disabled="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Fecha</label>
                        <div class="col-10">
                            <input type="date" class="form-control" id="txtId" ng-model="work.ID" name="txtId">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Curación</label>
                        <div class="col-10">
                            <select select-browser class="form-control" style="width: 100%" name="cbWork" id="cbWork" ng-options="w as w.name for w in works track by w.ID" ng-model="work">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Piezas Dentales</label>
                        <div class="col-10">
                            <input type="text" min="0" class="form-control" ng-model="work.price" id="txtAge" name="txtAge">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Tratamiento</label>
                        <div class="col-10">
                            <!-- <select select2 class="form-control" style="width: 100%" name="cbTreatment" id="cbTreatment" ng-options="t as w.name for w in works track by w.ID"
                                ng-model="work">
                                <option value="">Select</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Pago</label>
                        <div class="col-10">
                            <input type="number" min="0" class="form-control" ng-model="work.price" id="txtAge" name="txtAge">
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="modal-footer footer-content">
                <a type="button" class="btn btn-success btn-block btn-crud" ng-click="execute()" data-dismiss="modal"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> GUARDAR</a>
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>    
</div>