<div id="frmPatient" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-content">
                <h6 class="modal-title title-modal">{{accion}} PACIENTE</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body form-controls">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">ID</label>
                                <div class="col-10">
                                    <input type="text" class="form-control" id="txtId" ng-model="patient.ID" name="txtId" disabled="true">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Fecha</label>
                                <div class="col-10">
                                    <input type="date" class="form-control" id="txtFecInit" ng-model="patient.dateInit" name="txtFecInit">
                                </div>
                            </div>                            
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Nombres y Apellidos</label>
                                <div class="col-10">
                                    <input type="text" class="form-control" id="txtNomApe" ng-model="patient.nomApe" name="txtNomApe">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Edad</label>
                                <div class="col-10">
                                    <input type="number" min="0" class="form-control" ng-model="patient.age" id="txtAge" name="txtAge">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Sexo</label>
                                <div class="col-10">
                                    <label class="custom-control custom-radio">
<input id="rbSexoM" name="rbSexoM" ng-model="patient.sex" ng-click="getSex()" value="M" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="font-size: 12pt;">Masculino</span>
                                    </label>
                                    <label class="custom-control custom-radio">
<input id="rbSexoF" name="rbSexoF" ng-model="patient.sex" ng-click="getSex()" value="F" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description" style="font-size: 12pt;">Femenino</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Fecha Nacimiento</label>
                                <div class="col-10">
                                    <input type="date" class="form-control" id="txtFecNac" ng-model="patient.dateNac" name="txtFecNac">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Dirección</label>
                                <div class="col-10">
                                    <input type="text" class="form-control" ng-model="patient.address" id="txtAddress" name="txtAddress">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Ocupación</label>
                                <div class="col-10">
                                    <input type="text" class="form-control" ng-model="patient.ocupation" id="txtOcupation" name="txtOcupation">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Tel. / Cel.</label>
                                <div class="col-10">
                                    <input type="tel" class="form-control" ng-model="patient.telCel" id="txtTelCel" name="txtTelCel">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Alergias</label>
                                <div class="col-10">
                                    <input type="text" class="form-control" ng-model="patient.alergies" id="txtAlergies" name="txtAlergies">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Opeeraciones </label>
                                <div class="col-10">
                                    <input type="text" class="form-control" ng-model="patient.operations" id="txtOperations" name="txtOperations">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Diabettes</label>
                                <div class="col-10">
                                    <label class="custom-control custom-checkbox">
<input type="checkbox" ng-model="patient.diabettes" class="custom-control-input" id="cbxDiabettes" name="cbxDiabettes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Hipertensión </label>
                                <div class="col-10">
                                    <label class="custom-control custom-checkbox">
<input type="checkbox" ng-model="patient.hipertension" class="custom-control-input" id="cbxHipertension" name="cbxHipertension">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Otros</label>
                                <div class="col-10">
                                    <input type="text" class="form-control" ng-model="patient.others" id="txtOthers" name="txtOthers">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-2 col-form-label">Tratamientos  Médicos</label>
                                <div class="col-10">
                                    <textarea class="form-control" ng-model="patient.treatMedics" id="txtTreatMedics" name="txtTreatMedics"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-content">
                <a type="button" class="btn btn-success btn-block btn-crud" ng-click="execute()" data-dismiss="modal"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> GUARDAR</a>
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>